# Dependencias
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de construcción
/dist
/build

# Archivos temporales
.tmp
.temp

# Local Netlify folder
.netlify

# Archivos de ebooks
/public/ebooks/
!/public/ebooks/.gitkeep
public/blog/ebook_final.html
!public/blog/ebook_final.html.example
*.pdf
*.epub
*.mobi
