---
import { getCollection } from 'astro:content';
import ArticleLayout from '../../layouts/ArticleLayout.astro';

const articles = (await getCollection('articles')).sort(
  (a, b) => a.data.date.getTime() - b.data.date.getTime()
);
---

<ArticleLayout title="Blog" description="Descubre los últimos artículos en nuestro blog.">
  <h1>Nuestro Blog</h1>
  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={`/blog/${article.slug}`}>{article.data.title}</a>
          <p>{article.data.date.toLocaleDateString()}</p>
          <p>{article.data.description}</p>
        </li>
      ))
    }
  </ul>
</ArticleLayout> 